<!DOCTYPE html>
<html>
<head>
  <title>Mench</title>
  <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>  
  <script>
    // Load variables passed from server.
    var userName = "{{ user_name }}";
    var loginUrl = "{{ login_url }}";
    var logoutUrl = "{{ logout_url }}";
    var loggedIn = "{{ logged_in }}" == "True";
    var profileUploadUrl = "{{ profile_upload_url }}";
    var profileUrl = "{{ profile_url }}";    
  </script>
  <link rel="icon" type="image/png" href="icons/logo_square_grey.png" sizes="16x16">
  <link rel="import" href="bower_components/polymer/polymer.html">
  <link rel="import" href="polymer/mench-root.html">
  <link rel="import" href="polymer/profile.html">
  <link href='https://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Khula' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600' rel='stylesheet' type='text/css'>
</head>
<body class="fullbleed layout vertical">
  <mench-root>
    <mench-profile></mench-profile>
  </mench-root>
</body>
</html>

